[submodule "src/psi"]
	path = src/psi
	url = git://github.com/txdv/psi.git
[submodule "src/manos"]
	path = src/manos
	url = git@github.com:txdv/manos.git
[submodule "src/hltools"]
	path = src/hltools
	url = https://github.com/txdv/hltools/
